<div class="profile">
	<img src="/public/img/uploads/{{profile}}" alt="profile">
	<div>
		<h1>Bienvenido {{name}}</h1>
		<p>{{email}}</p>
		<a href="/" class="btn green">Mis Contactos</a>
		<a class="delete btn" href="/logout">Cerrar Sesion</a>
	</div>
</div>