<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header>
		<h1>Contacts App</h1>
		<img src="/public/img/header1.png">
		<div class="flex">
			<a href="/register" class="btn">Registrate</a>
			<a href="/login" class="btn">Log In</a>
		</div>
	</header>
</body>
</html>